<html>
<head>
    <title>Item Details</title>
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
</head>
<body>
    <h1>Camera URL: {{ img_url }}</h1>
    <h1>Tag: {{ tags }}</h1>
    <div>
    {% for tag in (tags).split(",") %}
       <div>{{ loop.index }}: </i>{{ tag + " "}}</i></div>
    {% endfor %}
    </div>
    <img name="main" id="main" width="640" height="480" src="{{ img_url }}">
    <button id="btn_start_cam">Start</button>
    <button id="btn_stop_cam">Stop</button>
    <script>
        let tagsList = "{{ tags }}".split(",")
        let img = document.getElementById("main");
        let stream = "{{ img_url }}"
        function startStream(milliseconds) {
            return setInterval(async () => {
                image = stream + "?rand=" + new Date().getTime();
                img.src = image;
            }, milliseconds);
        }
        function stopStream(interval) {
            clearInterval(interval);
        }
        let btn_start_cam = document.getElementById("btn_start_cam");
        let streamInterval, tagStatusInterval;
        btn_start_cam.addEventListener("click", async () => {
            let response = await fetch("/stream/start", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                 },
                body: JSON.stringify({tags: tagsList}),
            });
            console.log(response)
            streamInterval = startStream(1000);
            tagStatusInterval = startGetTagsStatusInterval(tagsList);
        });
        let btn_stop_cam = document.getElementById("btn_stop_cam");
        btn_stop_cam.addEventListener("click", () => {
            fetch("/stream/stop", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                 },
                body: JSON.stringify({tags: tagsList}),
            });
            streamInterval && stopStream(streamInterval);
            tagStatusInterval && stopGetTagsStatusInterval(tagStatusInterval);
        });
        async function getTagsStatus(tagsList){
            let response = await fetch("/tag/detection/status", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                 },
                body: JSON.stringify({tags: tagsList}),
            });
            let data = await response.json();
            console.log(data);
            return response.json();
        }
        function startGetTagsStatusInterval(tagsList){
            return setInterval(() => {
                getTagsStatus(tagsList)
            }, 5000)
        }
        function stopGetTagsStatusInterval(interval){
            clearInterval(interval);
        }
    </script>
</body>
</html>