<html>
<head>
    <title>Item Details</title>
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
</head>
<body>
    <h1>Camera URL: {{ img_url }}</h1>
    <h1>Tag: {{ tag }}</h1>
    <img name="main" id="main" width="640" height="480" src="{{ img_url }}">
    <button id="btn_start_cam">Start</button>
    <button id="btn_stop_cam">Stop</button>
    <script>
        let img = document.getElementById("main");
        let stream = "{{ img_url }}"
        function startStream(milliseconds) {
            return setInterval(async () => {
                image = stream + "?rand=" + new Date().getTime();
                img.src = image;
            }, milliseconds);
        }
        function stopStream(interval) {
            clearInterval(interval);
        }
        let btn_start_cam = document.getElementById("btn_start_cam");
        let interval;
        btn_start_cam.addEventListener("click", () => {
            interval = startStream(1000);
        });
        let btn_stop_cam = document.getElementById("btn_stop_cam");
        btn_stop_cam.addEventListener("click", () => {
            interval && stopStream(interval);
        });
    </script>
</body>
</html>